<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>
	<appender name="DailyROLLING" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="30720"></param>
		<param name="File" value="target/log/total.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<appender name="test1" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="target/log/test1.log" />
		<param name="MaxFileSize" value="30720"></param>
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<appender name="test2" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="target/log/test2.log" />
		<param name="MaxFileSize" value="30720"></param>
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<appender name="test3" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="target/log/test3.log" />
		<param name="MaxFileSize" value="30720"></param>
		<param name="Append" value="true" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<logger name="test1">
		<level value="INFO" />
		<appender-ref ref="test1" />
	</logger>
	<logger name="test2">
		<level value="INFO" />
		<appender-ref ref="test2" />
	</logger>
	<logger name="test3">
		<level value="INFO" />
		<appender-ref ref="test3" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DailyROLLING" />
	</root>
</log4j:configuration>